<a href="https://colab.research.google.com/github/varunkarade/Escalation-Prediction/blob/master/Online_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[90,11,22,33,44,55,3,64,42,65,1]

def Stock(list):
  diff=0
  for num,i in enumerate(l):
    for j in l[num+1:]:
      d=j-i
      #print(d)
      if(diff<d):
        diff=d
      else:
        pass
  return diff

print(Stock(l))

62

In [ ]:
test_keys = ["Rash", "Kil", "Varsha"]
test_values = [1, 4, 5]
  
# Printing original keys-value lists
print ("Original key list is : " + str(test_keys))
print ("Original value list is : " + str(test_values))
  
# using naive method
# to convert lists to dictionary
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break  
  
# Printing resultant dictionary 
print ("Resultant dictionary is : " +  str(res))

Original key list is : ['Rash', 'Kil', 'Varsha']
Original value list is : [1, 4, 5]
Resultant dictionary is : {'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [ ]:
l=[1,2,3,4,5]
s=[2,3,4,5,6]

#o=[1,2,2,3,3,4,4,5,56]

def l(list1,list2):
  new=list1
  for i in l:
    for

In [33]:
l=[3, 9, 50, 15, 99, 7, 98, 65]

def f(l):
  dif=l[1]-l[0]
  for num,i in enumerate(l):
    for j in l[num+1:]:
      d=j-i
      print(d)
      if(dif>d):
        dif=d
      else:
        pass
  return dif

print(f(l))

6
47
12
96
4
95
62
41
6
90
-2
89
56
-35
49
-43
48
15
84
-8
83
50
-92
-1
-34
91
58
-33
-92

In [24]:
data = ["_11", "21__", "__121_"]
data2 = [10, 100, 1000, 10000]
#o/p: "11-21-121"
l=''
lis=[]
for i in data:
#  j=i.split('_')
  j=i.replace('_','')
  lis.append(j)
  #print(lis)
for elem in lis:
#    print(elem)
  if(elem.isdigit):
    l=l+str(elem)
    l=l+'-'
print(l[:-1])

11-21-121

In [27]:
data2 = [10, 100, 1000, 10000]

a=list(map(lambda x:x*x for x in data2, data2))

SyntaxError: ignored

In [1]:
l=[1,2,3,2,4,3]
m=[]
for i in l:
  if(i in m):
    print(i)
  else:
    m.append(i)

2
3

In [ ]:
def f(s):
  for i in range(1,s):
    k=i*2
  yield k

In [14]:
str= "Hi how are you"
l=str.split(" ")
m=[]
k=len(l)
#print(k)
for i in range(k-1,-1,-1):
  m.append(l[i])

#print(m)
s=" ".join(m)
print(s)

you are how Hi

In [ ]:
class A():
  def sum(a,b):
    return a+b

In [4]:
def f(num):
  if(num%3==0 and num%5==0):
    print("fizzbuzz")
  elif(num%3==0):
    print("fizz")
  elif(num%5==0):
    print("buzz")
  else:
    pass


c=f(20)

buzz

In [ ]:
l=[4,5,6,1,2,3]
#3[1,2,3,4,5,6]

a=l[0]
for i in l:
  for j in l[i+1:]:
    if(l[i]>l[j]):
      a=l[i]